@media (max-width: 767px) {

  #frontpage {
    position: relative;
    background-position: center center;
  }

  #blackbox {
    display: none;
  }

  h1 {
    font-weight: 400;
    letter-spacing: 15px;
  }
}